@{
    ViewBag.Title = "View Cart";
}

<article id="basket">
@Html.ActionLink("Checkout Now", "Create", "Checkout", null, new { @class = "continue" })
<h1>Shopping Bag</h1>
<table width="100" border="1">
    <tr>
        <th scope="col" class="description">Product</th>
        <th scope="col" class="options">Options</th>
        <th align="right" scope="col" class="price">Price</th>
    </tr>
    <tr>
        <td align="left" valign="top" class="description"><a href="main.html"><img src="images/thumb1.jpg" alt="Elegant evening Dress" class="left" /></a><p><a href="main.html">Elegant evening Dress</a><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ultricies fringilla. Suspendisse iaculis tristique leo, id adipiscing massa aliquet ut. Etiam adipiscing auctor enim nec tincidunt. </p>
        <a href="#">Remove</a></td>
        <td align="left" valign="top" class="options">
        	<dl>
                <dt>Product ID</dt>
                <dd>6442567</dd>
                <dt>Colour:</dt>
                <dd>Light blue</dd>
                <dt>Size:</dt>
                <dd>S</dd>
                <dt>Quantity:</dt>
                <dd>1</dd>
            </dl>
            <button>Change details</button>
        </td>
        <td align="right" valign="top" class="price">&pound;249</td>
    </tr>
    <tr>
    	<td align="left" valign="top" class="description"><a href="main.html"><img src="images/thumb1.jpg" alt="Elegant evening Dress" class="left" /></a><p><a href="main.html">Elegant evening Dress</a><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ultricies fringilla. Suspendisse iaculis tristique leo, id adipiscing massa aliquet ut. Etiam adipiscing auctor enim nec tincidunt. </p>
        <a href="#">Remove</a></td>
        <td align="left" valign="top" class="options">
        	<dl>
                <dt>Product ID</dt>
                <dd>1936246</dd>
                <dt>Colour:</dt>
                <dd>Light blue</dd>
                <dt>Size:</dt>
                <dd>S</dd>
                <dt>Quantity:</dt>
                <dd>1</dd>
            </dl>
            <button>Change details</button>
        </td>
        <td align="right" valign="top" class="price">&pound;249</td>
    </tr>
    <tr>
    	<td align="left" valign="top" class="description"><a href="main.html"><img src="images/thumb1.jpg" alt="Elegant evening Dress" class="left" /></a><p><a href="main.html">Elegant evening Dress</a><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ultricies fringilla. Suspendisse iaculis tristique leo, id adipiscing massa aliquet ut. Etiam adipiscing auctor enim nec tincidunt. </p>
        <a href="#">Remove</a></td>
        <td align="left" valign="top" class="options">
        	<dl>
                <dt>Product ID</dt>
                <dd>1936246</dd>
                <dt>Colour:</dt>
                <dd>Light blue</dd>
                <dt>Size:</dt>
                <dd>S</dd>
                <dt>Quantity:</dt>
                <dd>1</dd>
            </dl>
            <button>Change details</button>
        </td>
        <td align="right" valign="top" class="price">&pound;249</td>
    </tr>
</table>
<img src="images/creditcards.gif" class="safe" />
<div class="right">
    <strong>Subtotal before Delivery Charges</strong> <em>&pound;398.00</em><br />
    <p>
        <select>
        	<option>Free delivery (3-5 days)</option>
            <option>Next day delivery (£3.99)</option>
        </select> <em>&pound;0.00</em>
    </p>
    <strong>Your total</strong> <em>&pound;398.00</em>
</div>
@Html.ActionLink("Checkout Now", "Create", "Checkout", null, new { @class = "continue" })
</article>
